/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar .navbar-fixed-top{
    background: #ECECEC;
 } 
 .navbar-inner{
    background: #000;
 }

 body{
 background:#ECECEC;
 }

 

  nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;

}

nav ul li{
   /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #3D1B46;
    display: inline-block;
}

nav ul li:hover{
   /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#23032B), to( #E3E3E3));/*Chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #23032B, #E3E3E3);/*Firefox*/
    background-image: -o-linear-gradient(top, #23032B, #E3E3E3);/*Opera*/
    background-image: linear-gradient(top, #23032B, #E3E3E3);/*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #23032B;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #23032B;/*Firefox*/
    -o-box-shadow:  1px -1px 0px #23032B;/*Opera*/
    box-shadow:  1px -1px 0px #23032B;/*Estan*/
    border:1px solid #E3E3E3;

}



